<head>
  <link rel="stylesheet" href="./css/home.css" />
</head>
<header>
  <a href="/"><img src="./assets/img/logo.png" alt="" /></a>
  <nav>
    <ul>
      <li><a href="/registerBook">Cadastrar seu livro</a></li>
      <li><a href="/allBooks">Ver seus livros</a></li>
      <li><a id="loginLink" href="/login">Login de Usuário</a></li>
    </ul>
  </nav>
  <a style="width: 118px; height: 90px;" href=""><img src="" alt="" /></a>
</header>
<main>
  <img id="imgMain" src="./assets/img/main.jpg" alt="" />

  <p id="initialText">
    Descubra como os serviços da
    <span>Alexandria</span>
    podem
    <span>impulsionar</span>
    os
    <span>resultados</span>
    da sua
    <span>instituição</span>
  </p>
  <section>
    <div>
      <img src="./assets/svg/icons8-e-aprendizagem-64 1.svg" alt="" />
      <h2>CURSOS LIVRES</h2>
      <p>Gerencie sua franquia ou administre sua unidade de cursos livres com
        sistemas que farão sua escola crescer.</p>
    </div>
    <div class="azul">
      <img src="./assets/svg/schoolIcon.svg" alt="" />
      <h2>INSTITUIÇÕES DE ENSINO</h2>
      <p>Softwares para gestão de escolas da Educação Infantil ao Ensino
        Superior e também gerenciamento de horários.</p>
    </div>
    <div class="azul">
      <img src="./assets/svg/libraries.svg" alt="" />
      <h2>BIBLIOTECAS</h2>
      <p>Sistemas desenvolvidos para bibliotecas escolares, universitárias,
        culturais, entre outras.</p>
    </div>
    <div>
      <img src="./assets/svg/files.svg" alt="" />
      <h2>ACERVOS NÃO-BIBLIOGRÁFICOS</h2>
      <p>Preserve a memória de sua instituição ou gerencie completamente suas
        coleções com nossas soluções.</p>
    </div>
  </section>
</main>
<footer>
  <div id="footer1">
    <div style="justify-content: space-around;">
      <div id="footer1_div1" style="gap: 0;">
        <img src="./assets/img/logo1.png" alt="" />
        <p style="width: 340px;">A Soluções Alexandria é especialista no desenvolvimento de sistemas
          de gestão focada em inovação e parcerias de longo prazo.</p>
      </div>
      <div>
        <h2>INSTITUCIONAL</h2>
        <P>Sobre a Alexandria Clientes Responsabilidade Parceiros</P>
      </div>
      <div>
        <h2>RECURSOS HUMANOS</h2>
        <p>Trabalhe Conosco</p>
      </div>
      <div>
        <h2>CONTATO</h2>
        <p>Fale Conosco</p>
      </div>
    </div>
    <div id="redesSociais">
      <a href="#"><img src="./assets/img/Linkedin.png" alt="" /></a>
      <a href="#"><img src="./assets/img/Instagram.png" alt="" /></a>
      <a href="#"><img src="./assets/img/Facebook.png" alt="" /></a>
      <a href="#"><img src="./assets/img/WhatsApp.png" alt="" /></a>
    </div>
  </div>
  <div id="footer2">
    <p>&copy; 2023 Alexandria - Todos os direitos reservados</p>
  </div>
</footer>