<head>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<header>
  <a href="/"><img src="./assets/img/logo.png" alt="" /></a>
</header>
<main>
  <div class="container">
    <h2>Faça o Login</h2>
    <form action="/users/:id" method="GET">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="Insira seu email:" />
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Insira sua senha:" />
      <button
        style="width: 289.43px;
height: 84.282px;"
        type="submit"
      >LOGIN</button>
    </form>
  </div>
</main>