<head>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<header>
  <a href="/"><img src="./assets/img/logo.png" alt="" /></a>
</header>
<main>
  <div class="container">
    <h2>Cadastre seu Livro</h2>
    <form action="/book/books" method="POST">
      <label for="title">Título:</label>
      <input type="text" name="title" placeholder="Insira o título do livro:" />
      <label for="author">Autor:</label>
      <input type="text" name="author" placeholder="Insira o nome do autor:" />
      <label for="pages_number">Quant. de páginas:</label>
      <input type="number" name="pages_number" placeholder="Insira a quant. de páginas do livro:" />
      <label for="description">Descrição:</label>
      <input type="text" name="description" placeholder="Insira uma descrição sobre o livro:" />
      <button
        style="width: 289.43px;
height: 84.282px;"
        type="submit"
      >CADASTRAR</button>
    </form>
  </div>
</main>